#VSCode settings
/.vscode

# Visual Studio 2015 cache/options directory
.vs/

/testmain.cpp
.idea/
cmake-build-debug/

#Directory that, according to the README.md, should be used as build directory for CMake
/Build

NostraEngine/doc/Warnings.txt

CMakeSettings.json